@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #001122;
    margin: 0;
    padding: 70px 20px 20px 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #002244;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;

}

.top-banner:hover {
    background-color: #012c58;
    transition: background-color 0.3s;
}

nav a,
.nav-box,
.banner-title,
.top-banner a {
    text-decoration: none;
    color: white;
}

nav a:visited,
nav a:active,
nav a:hover {
    color: white;
    text-decoration: none;
}

.banner-title {
    font-size: 24px;
    margin-left: 20px;
    color: white
}

.banner-title:hover {
    color: #66aaff;
    transition: color 0.3s;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;

}


.nav-box {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition: color 0.3s;
    color: white;

}

.nav-box:hover {
    color: #66aaff;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 40%;
    display: block;
    margin: 40px auto;
}

.Projects {
    margin-top: 40px;
}

.project-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

.project-item {
    background-color: #002244;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    min-height: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.project-item:hover {
    background-color: #003366;
    color: white;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

.project-item img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
}

.popup-character {
    position: fixed;
    bottom: -90px;
    right: 20px;
    font-size: 50px;
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 1001;
}

.popup-character:hover {
    transform: translateY(-90px);
}