body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;

}

.nav-box {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    transition: color 0.3s;
    color: #333;
}

.nav-box:hover {
    color: #007bff;
}

}